# Jasmine Han

## Research question/interests

My research interests involve investigating the ways that human-derived stressors and anthropogenic climate-change effect natural landscapes. By interpreting data obtained from effected regions, what are personalized ways to mitigate the effects?

In [1]:
import pandas as pd
pd.read_csv("../data/raw/EMLSdata_10Aug.csv")

,Lake_ID,Date,LakeName,LabName,Country,Latitude,Longitude,Altitude_m,MaximumDepth_m,MeanDepth_m,...,MC_dmRR_ugL,MC_RR_ugL,MC_dmLR_ugL,MC_LR_ugL,MC_LY_ugL,MC_LW_ugL,MC_LF_ugL,NOD_ugL,CYN_ugL,ATX_ugL
0,AT_MON,2015-08-03,Mondsee,WEISSE,Austria,47.803028,13.420194,481.0,68.0,36.0,...,0.0000,0.0,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000
1,CH_BRE,2015-08-12,Brenet,FOREL,Switzerland,46.673750,6.322253,1002.0,18.0,NaN,...,0.0000,0.0,0.0011,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000
2,CH_BRET,2015-08-25,Bret,FOREL,Switzerland,46.514161,6.773583,674.0,13.0,NaN,...,0.0000,0.0,0.0027,0.0042,0.0,0.0,0.0,0.0,0.0000,0.0000
3,CH_DIV,2015-08-14,Divonne,FOREL,Switzerland,46.354617,6.152489,466.0,4.0,NaN,...,0.0000,0.0,0.0017,0.0187,0.0,0.0,0.0,0.0,0.0000,0.0000
4,CH_GE3,2015-08-10,Geneva_GE3,FOREL,Switzerland,46.292003,6.213036,372.0,310.0,154.4,...,0.0000,0.0,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,UK_ERN,2015-08-17,Erne,AFBI,UK,54.485444,-7.843722,46.0,66.0,12.0,...,0.0000,0.0,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000
365,UK_GRAS,2015-08-17,Grasmere,Lancaster,UK,54.448692,-3.019344,62.0,21.0,NaN,...,0.0000,0.0,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000
366,UK_NEA,2015-08-24,Neagh,AFBI,UK,54.582417,-6.396222,16.0,34.0,8.9,...,6.5903,0.0,2.8946,0.0756,0.0,0.0,0.0,0.0,0.0334,0.0000
367,UK_WN,2015-08-18,Windermere North Basin,Lancaster,UK,54.397114,-2.951833,39.0,67.0,NaN,...,0.0000,0.0,0.0129,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000
368,UK_WS,2015-08-18,Windermere South Basin,Lancaster,UK,54.314433,-2.951461,40.0,68.0,NaN,...,0.0000,0.0,0.0062,0.0042,0.0,0.0,0.0,0.0,0.0000,0.0011